%section.container
  %h1 
    Create a new Team
    .form
      = form_for @team do |f|
        - if @team.errors.any?
          %h2 
            - pluralize(@team.errors.count, 'error') 
            prohibited this team from being saved

        %ul
          - @team.errors.full_messages.each do |message|
            %li
              = message
        .row
          .col-sm-4
            .form-group
              = f.label :name
              = f.text_field :name, class: 'form-control' 

          .col-sm-5
            .form-group
              = f.label :team
              = f.collection_select(:templates_team_id, Templates::Team.all, :id, :name, { include_blank: true }, class: 'form-control js-team-selector')
          .col-sm-3
            .form-group
              = f.label :treasury
              = f.text_field :treasury, class: 'form-control js-treasury', data: {treasury: @team.treasury }, readonly: true

        .row
          = render 'players/grid_stats'
          = f.fields_for :players do |builder|
            = render 'players/form', team: @team, f: builder

        .row
          .col-sm-4
            .form-group.re-rolls
              = f.label :re_rolls, "Re-Rolls"
              = f.text_field :re_rolls, class: 'form-control' 

          .col-sm-4
            .form-group.fan-factor
              = f.label :fan_factor, "Fan Factor"
              = f.text_field :fan_factor, class: 'form-control' 

          .col-sm-4
            .form-group.assistant-coaches
              = f.label :assistant_coaches, "Assistant Coaches"
              = f.text_field :assistant_coaches, class: 'form-control', readonly: true

        .row
          .col-sm-4
            .form-group.cheerleaders
              = f.label :cheerleaders
              = f.text_field :cheerleaders, class: 'form-control' 

          .col-sm-4
            .form-group.apothecaries
              = f.label :apothecaries
              = f.text_field :apothecaries, class: 'form-control' 

          .col-sm-4
            .form-group.halfling-chef
              = f.label :halfling_chef, "Halfling Chef"
              = f.text_field :halfling_chef, class: 'form-control', readonly: true

        .actions
          = f.submit (@team.new_record? ? 'Create Team' : 'Update Team'), class: "btn btn-blood"

= render partial: '/layouts/small_modal'
