<section class="container">
<h1><%= @team.name %> - <%= @team.user.name %></h1>

<h2>Treasury: <%= @team.treasury %></h2>

  <%= render '/layouts/grid_stats' %>

<% @players.each do |player| %>
  
  <%= render partial: "/layouts/player", locals: { player: player } %>

<% end %>

<%= render  partial: '/layouts/small_modal' %>
</section>

