<div class="row">
<section class="col-sm-4">
<ul class="list-unstyled">
  <% @championship.seasons.each do |season| %>

    <li data-season="<%= season.id %>">
    <h3>Round: <%= season.round  %></h3>
      
      <ul class="list-unstyled">
      <% season.matches.each do |match| %>
        

        <li data-match="<%= match.id %>">
        <% if match.finished == true %>
          <a class="match" href="<%= society_championship_match_path(id: match.id, championship_id: @championship.id, society_id: @championship.society_id) %>">
          <%= match.host_result.to_s + " - "+ match.host_team.user_name %> VS <%= match.visit_team.user_name + " - " +  match.visit_result.to_s%></a>
        <% else %>
          <% if current_user.id == match.host_team.user_id || current_user.id == match.visit_team.user_id %>
            <a class="match btn btn-blood" href="<%= new_society_championship_match_feat_path(society_id: params[:society_id],championship_id: params[:id], match_id: match.id )%>">
            <%= match.host_team.user_name  %> VS <%= match.visit_team.user_name  %></a>
          <% else %>
            <a class="match" href="<%= society_championship_match_path(id: match.id, championship_id: @championship.id, society_id: @championship.society_id) %>">
            <%= match.host_team.user_name  %> VS <%= match.visit_team.user_name  %></a>
          <% end %>
        <% end %></li>

      <% end %></ul></li>

  <% end %>
</ul>
</section>
<section class="col-sm-8">
  <h3>
  <div class="row row-header">
    <div class="col-sm-3">
      Position
    </div>
    <div class="col-sm-4">
      Team Name
    </div>
    <div class="col-sm-2">
      Points
    </div>
    <div class="col-sm-3">
      TD
    </div>
  </div>
  </h3>

  <% @clasification.each_with_index do |team, index| %>
    <div class="row row-main">
      <div class="col-sm-3">
        <%= index + 1 %>ยบ
      </div>
      <div class="col-sm-4">
        <%= team.user_name %>
      </div>
      <div class="col-sm-2">
        <%= team.calculate_points(@championship) %>
      </div>
      <div class="col-sm-3">
        <%= team.calculate_touchdonws(@championship) %>
      </div>
    </div>
  <% end %>

</section>
</div>

