<ul class="list-unstyled">
  <% @championship.seasons.each do |season| %>
    <li data-season="<%= season.id %>">
      <h3>Round: <%= season.round  %></h3>
        <ul class="list-unstyled">
          <% season.matches.each do |match| %>
            <li data-match="<%= match.id %>">
              <a href="<%= society_championship_match_path(id: match.id, championship_id: @championship.id, society_id: @championship.society_id) %>">
                <%= match.host_team.user_name  %> VS <%= match.visit_team.user_name  %>
              </a>
              <% current_user.user_teams.each do |team|%>
                <% if team.id == match.host_team.id || team.id == match.visit_team.id %>
                  <% if match.finished == false %>
                  <a href="<%= new_society_championship_match_feat_path(society_id: params[:society_id],championship_id: params[:id], match_id: match.id )%>" class="btn btn-success" id="star-championship">
                Validate Result
                  </a>
                  <% end %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
    </li>
  <% end %>
</ul>
