<ul class="list-unstyled">
  <% @championship.teams.each do |team| %>
    <li data-team="<%= team.id %>">
      <h2>
          <a class="team" href="<%= team_path(id: team.id) %>">
          <%= team.name  %>
        </a>
      </h2>
    </li>
  <% end %>
</ul>

<% unless @championship.has_team_included_a_user?(current_user) %>
  <% current_user.teams.each do |team| %>
    <%= button_to "Join - #{team.name}", {:controller => "championships", :action => "join", :id => @championship.id, :society_id => @championship.society.id, :team_id => team.id }  , :method=>:post, class: "btn btn-blood"  %> <br>
  <% end %>   
<% end %>


<br><br>

<%= button_to "Start #{@championship.name}", {:controller => "championships", :action => "start", :id => @championship.id, :society_id => @championship.society.id }  , :method=>:post, class: "btn btn-blood"  %>
