%section.container.championship
  .row
    .col-md-8
      %h1
        = @championship.name

    .col-md-4
      - if !@championship.start? && current_user.admin?(current_community) 
        = button_to "Start #{@championship.name}", { controller: "championships", action: "start", id: @championship.id, community_id: @championship.community.id }  , method: :post, class: "btn btn-lg btn-primary btn-block btn-create-championship"

  - if @championship.start?
    = render 'after_start'

  - else
    = render 'before_start'