<h1> Create a new Team </h1>

<%= form_for @user_team do |form| %>

  <% if @user_team.errors.any? %>
      <h2><%= pluralize(@user_team.errors.count, "error") %> prohibited this user_team from being saved:</h2>

      <ul>
      <% @user_team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    <% end %>
  
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :user_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :team %><br>
    <%= form.collection_select(:template_team_id, Team.all, :id, :name ) %>
  </div>

  <div class="actions">
    <%= form.submit (@user_team.new_record? ? 'Create Team' : 'Update Team') %>
  </div>


<% end %>