<section class="container">
<h1><%= @user_team.user_name %></h1>

<h2>Treasury: <%= @user_team.treasury %></h2>

  <%= render '/layouts/grid_stats' %>

<% @user_players.each do |player| %>
  
  <%= render partial: "/layouts/player", locals: { player: player } %>

<% end %>

<%= render  partial: '/layouts/small_modal' %>
</section>

