<section class="container validate">
<h1>Validate Match</h1>
<div class="row">
  <div class="col-sm-5">
    <h2><%= @match.host_result %> - <%= @match.host_team.user_name %></h2>
  </div>
  <div class="col-sm-2"><h2>VS</h2></div>
  <div class="col-sm-5">
    <h2><%= @match.visit_team.user_name %> - <%= @match.visit_result %></h2>
  </div>
</div>



<div class="container">
  <div class="row row-header">
    <div class="col-sm-3">
      Team
    </div>
    <div class="col-sm-3">
      Player 
    </div>
    <div class="col-sm-3">
      Kind
    </div>
    <div class="col-sm-2">
      Casuality
    </div>
    <div class="col-sm-1">
    </div>
  </div>
  <% @match.feats.each do | feat | %>
  <div class="row row-main">
    <% if feat.user_player != nil%>
      <div class="col-sm-3">
        <%= feat.user_player.user_team.user_name %>
      </div>
      <div class="col-sm-3">
        <%= feat.user_player.user_name %>
      </div>
      <div class="col-sm-3">
        <%= feat.kind %>
      </div>
      <div class="col-sm-2">
        <%= feat.kind_number %>
      </div>
      <div class="col-sm-1">
        <%= link_to "Delete", "/societies/#{params[:society_id]}/championships/#{params[:championship_id]}/matches/#{params[:match_id]}/feats/#{feat.id}", method: :delete, class: "btn-row" %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>



<%= form_for @feat, url: society_championship_match_feats_path(society_id: params[:society_id], championship_id: params[:championship_id], match_id: params[:match_id]) do |form| %>

  <% if @feat.errors.any? %>
      <h2><%= pluralize(@feat.errors.count, "error") %> prohibited this user_team from being saved:</h2>

      <ul>
      <% @feat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    <% end %>

  <div class="form-group">
    <%= form.label "Player" %><br>
    <%= form.collection_select(:user_player_id, @players, :id, :user_name, {},{class: "form-control"} ) %>
  </div>
  
  <div class="form-group">
    <%= form.label :kind%><br>
    <select name="kind" id="kind" class="form-control"  >
      <option value="injury">Injury</option>
      <option value="complentions">Complentions</option>
      <option value="touchdowns">Touchdowns</option>
      <option value="interceptions">Interceptions</option>
      <option value="casualties">Casualties</option>
      <option value="mpv">Most Value Player</option>
    </select>
  </div>

  <div class="form-group">
    <%= form.label "Number (Only if it's a casuality)" %>
    <%= form.number_field :kind_number, class: 'form-control' %>
  </div>
  
  <div class="buttoms-validate">
  <div class="form-group">
    <%= submit_tag "Validate", class: "btn btn-blood"  %>
  </div>
<% end %>

<%= button_to "Finish", {:controller => "matches", :action => "finished", :society_id => params["society_id"], :championship_id => params["championship_id"], :id => params["match_id"]}  , :method=>:post, class: "btn btn-blood"  %>
</div>

</section>
