<section class="container">
<h1><%= @host_team.name %> VS <%= @visit_team.name %></h1>

<h2><%= @host_team.treasury %> VS <%= @visit_team.treasury %></h2>

<%= render '/layouts/grid_stats' %>

<% @host_team.players.each do |player| %>
  
  <%= render partial: "/layouts/player", locals: { player: player } %>

<% end %>

<br><br>

<%= render '/layouts/grid_stats' %>

<% @visit_team.players.each do |player| %>


  <%= render partial: "/layouts/player", locals: { player: player } %>

<% end %>

<%= render  partial: '/layouts/small_modal' %>

</section>