<h1><%= @host_team.user_name %> VS <%= @visit_team.user_name %></h1>
<div class="row">
  <div class="col-sm-5">
    <h2><%= @match.host_result %></h2>
  </div>
  <div class="col-sm-2">
    <h2>VS</h2>
  </div>
  <div class="col-sm-5">
    <h2><%= @match.visit_result %></h2>
  </div>
</div>

<%= form_for society_championship_match_feats_path(match_id: params[:id]) do |form| %>

  <% if @feat.errors.any? %>
      <h2><%= pluralize(@feat.errors.count, "error") %> prohibited this user_team from being saved:</h2>

      <ul>
      <% @feat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    <% end %>

  <div class="form-group">
    <%= form.label "Player" %><br>
    <%= form.collection_select(:id, @players, :id, :user_name ) %>
  </div>
  
  <div class="form-group">
    <%= form.label :kind %>
    <%= form.text_field :kind, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Host Team" %>
    <%= form.check_box :host_team, class: 'form-control' %>
  </div>
  

  <div class="actions">
    <%= form.submit "Validate"%>
  </div>


<% end %>