<%= form_tag user_team_user_players_path(params[:user_team_id]) do %>
  
  <% @players.each_with_index do |player, index| %>
   <%= fields_for 'players[]', player do |p| %>

    <div class="row">
      <div class="field col-sm-1 number">
        <%= index + 1 %>
      </div>
      <div class="field col-sm-1 dorsal">
        <%= p.text_field :dorsal_number, :class => "form-control" %>
      </div>
      <div class="field col-sm-2 name">
        <%= p.text_field :user_name, :class => "form-control"  %>
      </div>

      <div class="field col-sm-2 js-player">
        <%= p.collection_select(:template_player_id, Team.find_by(id: @user_team.template_team_id).players, :id, :title, {:include_blank => ""}, {:class => "player_selection form-control js-player"} ) %>
      </div>
      
      <div class='js-stats-cointainer'></div>
      
    </div>

    <% end %>
  <% end %>

  <div class="actions">
    <%= submit_tag "Create Team" , :class => "btn btn-blood"%>
  </div>

<% end %>