<section class="container">
<h1> Edit Player </h1>
<%= render '/layouts/grid_stats' %>

<div>
<%= render partial: "/layouts/player", locals: { player: @player } %>
</div>

<%= form_for edit_user_team_user_player_path(user_team_id: params["user_team_id"], id: params["id"] ) do |form| %>
  
  <div class="form-group">
    <%= form.label :dorsal_number %>
    <%= form.text_field :dorsal_number, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :user_name, class: 'form-control' %>
  </div>


  <% if @player.level_up == true  %>
  <div class="js-level-up" value="<%= @player.template_player_id %>">
    <% @skills.each do |skills_categorys| %>
      <h2> <%= skills_categorys[0].category %> </h2>
      <% skills_categorys.each_with_index do |skill, index| %>
        <% if (index)%4 == 0 %>
          <div class="row">
        <% end %>
        <div class="col-sm-3">
        <div class="input-group">
        <span class="input-group-addon">
          <%= radio_button_tag(:skill, skill.id) %>
        </span>
        <a href='#' class='js-skill' data-skill="<%= skill.name %>">
            <%= label_tag(:skill, skill.name, class: "form-control" ) %>
        </a>
        </div>
        </div>
        <% if (index+1)%4 == 0 %>
          </div>
        <% end %>

      <% end %>
    <% end %>
  </div>
  <% end %>
  
<div class="row btn-edit-player">
  <div class="col-sm-2"></div>
  <div class="col-sm-6">
  <div class="form-group edit-player">
    <%= submit_tag "Edit Player", class: "btn btn-blood"  %>
  </div ></div>
<% end %>
<div class="col-sm-2">
<%= link_to "Fire Player", "/user_teams/#{params[:user_team_id]}/user_players/#{params[:id]}", method: :delete, class: "btn btn-blood" %>
</div ></div >

<%= render  partial: '/layouts/small_modal' %>

</section>