<h1> Choose your players </h1>

<div class="cointainer">
  <div class="row">
    <h2 class="col-sm-6"><%= @user_team.user_name %></h2>
    <h2 class="col-sm-3" > Treasury: </h2>
    <h2 class="col-sm-3 js-treasury" data-treasury="<%=@user_team.treasury%>"><%= @user_team.treasury %></h2>
  </div>
</div>

<%= render 'player_grid_stats' %>

<div class = "js-player-form-container">

    <%= render "player" %>
  
</div>

<%= render partial: '/layouts/small_modal' %>
