<section class="container">
<h1><%= @community.name %></h1>

<ul class="list-unstyled">
  <% @championships.each do |championship| %>
    <li data-bbq="<%= championship.id %>">
      <h2>
        <a href="<%= community_championship_path(id:championship.id, community_id: @community.id) %>">
          <%= championship.name  + " " + championship.kind %>
        </a>
      </h2>
    </li>
  <% end %>
</ul>

<a class="btn btn-blood" href="<%= new_community_championship_path(community_id: params[:id]) %>">
  Create a Championship
</a>
</section>


