<div class="row row-main">
  <div class="field col-sm-1"><%= player.dorsal_number  %></div>
  <div class="field col-sm-2 name">
    <a href= "<%= edit_team_player_path(id: player.id, team_id: player.team_id) %>">
      <%= player.name  %>
    </a>
  </div>
  <div class="field col-sm-2 title"><%= player.title  %></div>
  <div class=" col-sm-2 "><div class="row">
    <div class="field col-sm-3 ma"><%= player.ma  %></div>
    <div class="field col-sm-3 st"><%= player.st  %></div>
    <div class="field col-sm-3 ag"><%= player.ag %></div>
    <div class="field col-sm-3 av"><%= player.av  %></div>
  </div></div>
  <div class="field col-sm-1 cost"><%= player.player_value  %></div>
  <div class="field col-sm-3 skill">
    <% player.list_skills.each do |skill| %>
      <a href="#" class="js-skill" data-skill="<%= skill %>"> <%= skill %></a>,
    <% end %>
  </div>
  <div class="field col-sm-1 experience"> 
    <%=player.experience %>
    <% if current_user.id == player.team.user_id %>
      <% if player.level_up == true %>
        <a href= "<%= edit_team_player_path(id: player.id, team_id: player.team_id) %>"><img src='<%= asset_path("level_up.png")%>' alt="level up icon"></a>
      <% end %>
    <% end %>
  </div>
</div>
