<!DOCTYPE html>
<html>
<head>
  <title>BloodBowlManagerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body data-hook="controller-<%= controller_name %> action-<%= action_name %>">
  <header>
    <%= render partial: "/layouts/nav" %>
  </header>

  <section id="main">
  <%= yield %>
  </section>


  <%= render partial: "/layouts/footer" %>

</body>
</html>
